# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Datenbanken & Daten
*.db
*.sqlite3
data/*.json
!data/.gitkeep

# Umgebungsvariablen
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
